@model IEnumerable<BLL.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Choose the file for uploading</h3>
<form asp-action="ProsseccFile" asp-controller="Exhibit" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Download" />
</form>

