@model OnlineShop.Models.ForgotPassword
@{
    ViewData["Title"] = "ForgotPassword";
}
<form asp-action="ForgotPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Login">Введите Логин</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <input type="submit" value="Ввести" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
    <h1>Check your email for the password</h1>

